@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #070f27;
    overflow: hidden;
}

.shape {
    position: absolute;
    width: 2000px; /* Increase size */
    height: 2000px; /* Increase size */
    background-color: #65baff0c;
    border-radius: 50%;
    animation: moveShape 40s infinite alternate ease-in-out;
    z-index: -1;
    box-shadow: 4px 4px 100px 100px hsla(215, 72%, 64%, 0.052);
}
  
@keyframes moveShape {
    0% {
      transform: translateY(200px) rotate(0deg);
      transform: translateX(200px);
    }
    50% {
      transform: translateY(-600px) rotate(0deg);
      transform: translateX(-200px);
    }
    100% {
      transform: translateY(800px) rotate(0deg);
      transform: translateX(200px);
    }
}
.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}
.quiz-app{
    width: 100%;
    max-width: 540px;
    background: linear-gradient(135deg, #00feba11, #5b548acd);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px #00000041;
}
.quiz-app h1{
    color: #ffffffe8;
    font-weight: 600;
    font-size: 25px;
    display: flex;
    border-bottom: 3px solid #ffffff24;
    padding-bottom: 35px;
    align-items: center;
    margin-bottom: 10px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: #ffffffe0;
    font-weight: 100;
    margin-bottom: 25px;
}
.btn{
    font-size: 17px;
    background: #ffffff0c;
    color: #ffffffc4;
    font-weight: 500;
    width: 100%;
    border: 2px solid #ffffff00;
    padding: 14px;
    margin: 10px 0;
    text-align: left;
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.5s;
}
.btn:hover{
    background: #ffffff00;
    color: #fff;
    border: 2px solid #ffffffa5;
}
.next-btn{
    font-size: 17px;
    background: #ffffff0c;
    color: #ffffffc4;
    font-weight: 500;
    width: 150px;
    border: 2px solid #ffffff00;
    padding: 12px;
    margin: 20px auto 0;
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.5s;
    display: none;
}
.next-btn:hover{
    background: #ffffff00;
    color: #fff;
    border: 2px solid #ffffffa5;
}